<ion-view view-title="Add Chat">
    <ion-content>
        <div class="list list-inset">
            
            <label class="item item-input">
                <i class="icon icon-user"></i>
                <input type="text" ng-model="chat.name">
            </label>
            
              <label class="item item-input">
                <i class="icon icon-user"></i>
                <input type="text" ng-model="chat.lastText">
            </label>
            
            <a class="button button-block button-positive" ng-click="addChat()">
                
                Add Chat
                
            </a>
            
            
            
        </div>
    </ion-content>
</ion-view>