<ion-view view-title="Login">
    <ion-content>
        <div class="list list-inset">
            
            <label class="item item-input">
                <i class="icon icon-user"></i>
                <input type="text" ng-model="user.email">
            </label>
            
              <label class="item item-input">
                <i class="icon icon-user"></i>
                <input type="password" ng-model="user.password">
            </label>
            
            <a class="button button-block button-positive" ng-click="login()">
                
                Login
                
            </a>
            
             <a class="button button-block button-calm"
                href="#/tab/register"
                >
                
                Sign Up
                
            </a>
            
        </div>
    </ion-content>
</ion-view>