<ion-view view-title="Register">
    <ion-content>
        <div class="list list-inset">
            
            <label class="item item-input">
                <i class="icon icon-user"></i>
                <input type="text" ng-model='user.email'>
            </label>
            
              <label class="item item-input">
                <i class="icon icon-user"></i>
                <input type="password" ng-model='user.password'>
            </label>
            
            <button class="button button-block button-positive"
              ng-click='signup()' >
                
                Register
                
            </button>
            
            
            
        </div>
    </ion-content>
</ion-view>