<ion-view view-title="Calendar">
    <ion-content>
          <div class="list list-inset">
              
               <label class="item item-input">
                <i class="icon icon-cal"></i>
                <input type="date" ng-model="incident.from_dt">
             </label>
              
                  <label class="item item-input">
                <i class="icon icon-cal"></i>
                <input type="date" ng-model="incident.to_dt">
             </label>
              
     <label class="item item-input">
                <i class="icon icon-cal"></i>
                <input type="text" placeholder="Symptoms"  ng-model="incident.symptoms">
     </label>
              
        <label class="item item-input">
                <i class="icon icon-cal"></i>
                <input type="text" placeholder="Allegies" ng-model="incident.allergies">
     </label> 
        <label class="item item-input">
                <i class="icon icon-cal"></i>
                <input type="text" placeholder="Medications" ng-model="incident.medications">
     </label> 
              
              
              
                  <a class="button button-block button-positive" ng-click="addDate()">
                
                Add Incident
                
            </a>
     
      
       
       <ol>
           
           <li ng-repeat="dt in listOfDates">
               {{dt.from_dt  | date:'medium'}} to {{dt.to_dt  | date:'medium'}}
           </li>
           
           
       </ol>
       
          </div>
    </ion-content>
</ion-view>