<ion-view view-title="Chats">
  <ion-content>
      <a class="button button-block button-positive" href="#/tab/chatadd">
                
                Add Chat 
                
            </a>
       
        <a class="button button-block button-positive" ng-click="logout()">
                
                Logout 
                
            </a>
      
       <a class="button button-block button-positive" ng-click="addPoints()">
                
                Add a Point {{points}}
                
            </a>
      
      
    <ion-list>
        
         
      <ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="chat in chats" type="item-text-wrap" href="#/tab/chats/{{chat.id}}">
       
        <h2>{{chat.name}}</h2>
        <p>{{chat.lastText}}</p>
       

       
      </ion-item>
    </ion-list>
      
  </ion-content>
</ion-view>
